@charset "UTF-8";

/* ESTILOS PARA IMPRESSORA */

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article::after {
    content: 'Esse artigo foi impresso pelo Guilherme';
}