@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header h1 {
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 10px;
}


ul {
    list-style: none;
    display: flex;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
    display: flex;
    white-space: nowrap;
    justify-content: center;
}

a:hover {
    background-color: rgb(72, 71, 71);
}

body {
    background-color: rgb(231, 229, 229);
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 1px 6px black;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 0px 20px;
    }

    ul {
        flex-direction: column;
    }

}





