@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(146, 145, 145);
}

header h1 {
    text-align: center;
    padding: 10px;
}

nav {
    display: none;
}

#burguer {
    background-color: rgb(58, 57, 57);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

#burguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
}

li {
    background-color: rgb(92, 91, 91);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: 1px solid grey;
}

li:hover {
    background-color: rgb(112, 112, 112);
}

main p {
    margin-top: 20px;
    padding: 10px 5px;
    text-indent: 30px;
    font-size: 1.2em;
    margin: auto;
    text-align: justify;
}

article {
    background-color: white;
    width: 90vw;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
}

article h1 {
    padding: 5px;
}

body {
    background-color: rgb(228, 224, 224);
}