@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/*passion one*/

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/*sriracha*/

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    min-height: 100vh;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: yellow;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}

section p {
    padding-bottom: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

#img1 {
    background-image: url('../desafio-cordel/imagens/background001.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 3px 3px 10px 0px black;
}

#img2 {
    background-image: url('../desafio-cordel/imagens/background002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 6px 6px 12px 0px black;
}

.imagem p {
    padding: 0px 10px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    border-radius: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.279);
}









footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0px;
}