@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: yellow;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 35px;
    padding-left: 30px;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-image:  url('/modulo-3/desafio-cordel/imagens/background001.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    color: white;
}

.imagem p {
    width: 200px;
    background-color: rgba(0, 0, 0, 0.247);
}







footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0px;
}

