@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: bisque;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    gap: 5px;
    overflow: hidden;
}

.caixa {
    border: 1px solid black;
    background-color: rgb(196, 161, 228);
    text-align: center;
}

#topo {
    grid-row: 1/2;
    grid-column: 1/3;
}

#menu {
    grid-row: 2/3;
    grid-column: 1/3;
}

#principal {
    grid-row: 3/4;
    grid-column: 1/2;
}

#secundario {
    grid-row: 3/4;
    grid-column: 2/3;
}

#rodape {
    grid-row: 4/5;
    grid-column: 1/3;
}